@import 'variables.scss';

@if $dark-mode {
	.quickview {
		background-color: $grey-darker !important;
	}
} @else {
	.quickview {
		background-color: $white-ter !important;
	}
}

html {
	height: 100%;
}
body,
#app,
#complexPage {
	height: 100%;
	min-height: 100%;
}

.sidebarFooter {
	position: sticky;
	top: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	width: 100%;
}

// main {
// 	min-height: calc(100vh - 10vh);
//     padding: 1rem 1.5rem;
// }

.has-background-primary,
.has-background-dark {
	.title {
		color: $white-ter;
	}
	.subtitle {
		color: $white-ter;
	}
	a {
		// color: $success;
	}
}

$lightenOpacity: 0.2;

.has-background-danger {
	&.is-light {
		background-color: rgba($danger, $lightenOpacity) !important;
	}
}

.has-background-success {
	&.is-light {
		background-color: rgba($success, $lightenOpacity) !important;
	}
}

.has-background-warning {
	&.is-light {
		background-color: rgba($warning, $lightenOpacity) !important;
	}
}

p.has-drop-cap::first-letter {
	font-size: 60px;
	padding-right: 1px;
}

p.has-drop-cap::first-line {
	font-variant: small-caps;
	font-variant-caps: all-small-caps;
	line-height: 1;
	font-size: 133%;
}

@import 'node_modules/bulma/bulma';
// @import 'node_modules/bulma-extensions/bulma-tooltip/dist/css/bulma-tooltip.sass';
@import 'node_modules/bulma-extensions/bulma-quickview/dist/css/bulma-quickview.sass';
// @import 'node_modules/bulma-extensions/bulma-divider/dist/css/bulma-divider.sass';
