@import "variables.scss";

@if $dark-mode {
	.quickview {
		background-color: $grey-darker !important;
	}
} @else {
	.quickview {
		background-color: $white-ter !important;
	}
}

html {
	height: 100%;
}
body,
#app,
#complexPage {
	height: 100%;
	min-height: 100%;
}

.sidebarFooter {
	position: sticky;
	top: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	width: 100%;
}

// main {
// 	min-height: calc(100vh - 10vh);
//     padding: 1rem 1.5rem;
// }

.has-background-primary,
.has-background-dark {
	&:not(.is-light) {
		.title {
			color: $white-ter;
		}
		.subtitle {
			color: $white-ter;
		}
		a {
			color: $white-ter;
		}
		p {
			color: $white-ter;
		}
		.content {
			color: $white-ter;
		}
	}
}

$lightenOpacity: 0.2;

.has-background-danger {
	&.is-light {
		background-color: rgba($danger, $lightenOpacity) !important;
	}
}

.has-background-success {
	&.is-light {
		background-color: rgba($success, $lightenOpacity) !important;
	}
}

.has-background-warning {
	&.is-light {
		background-color: rgba($warning, $lightenOpacity) !important;
	}
}

.has-background-primary {
	&.is-light {
		background-color: rgba($primary, $lightenOpacity) !important;
	}
}

.has-background-dark {
	&.is-light {
		background-color: rgba($dark, $lightenOpacity) !important;
	}
}

p.has-drop-cap::first-letter {
	font-size: 60px;
	padding-right: 1px;
}

p.has-drop-cap::first-line {
	font-variant: small-caps;
	font-variant-caps: all-small-caps;
	line-height: 1;
	font-size: 133%;
}

.wrap-child-tiles {
	flex-wrap: wrap;
}

table.is-centered {
	td {
		text-align: center !important;
	}
}

.button.is-super-small {
	font-size: 0.4rem;
}

@import "bulma.scss";
